<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
      <th scope="col">Material</th>
      <th scope="col">Provaider</th>
    </tr>
  </thead>
  <tbody>
  <% @purchases.each do |purchase| %>
    <tr>
      <th scope="row">1</th>
      <td><%=purchase.user%></td>
      <td><%=purchase.material%></td>
      <td><%=purchase.provaider%></td>
    </tr>
  <%end%>
  </tbody>
</table>
